
*{
    text-decoration:none;
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    
}

html {
  scroll-behavior: smooth;
}


::selection {
    background-color:#DCD3E2;
}

h1{
    
    font-family: 'Questrial', sans-serif;
    display:flex;
    flex-direction:column;
    color:white;
    font-weight:400;    
    font-size:35px;
    letter-spacing:-1px;
}

h2{
    font-family: 'Questrial', sans-serif;
    display:flex;
    flex-direction:column;
    color:#fe0092;
    font-weight:600;    
    font-size:70px;
    letter-spacing:-1px;
}

h3{
     font-family:'Questrial', sans-serif;
    color:#fe0092;
    font-size:35px;
    font-weight:800;
}


h4{
    font-family:'Questrial', sans-serif;
    color:#fe0092;
    font-size:35px;
    font-weight:800;
    
}

h5{
     font-family:'Questrial', sans-serif;
    color:#71306E;
    font-size:18px;
    font-weight:300;
    line-height:40px;
    letter-spacing:1px;
    
}



.mainNavFrame{
    width:100%;
    height:14%;
    background-color:#F85611;
    position:fixed;
    display:flex;
    flex-direction:column;
    margin-top:0;
    z-index:11;
    justify-content:center;
    }



.shrink {
  height: 5%;
}


.header{
    position:relative;
    width:100%;
    height:90%;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#F85611;
    transition: 0.5s;
    background:none;
    text-align:center;

}

.logo{
    font-family:'Questrial', sans-serif;
    color:white;
    font-size:18px;
}

.navigation {
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%;
}

.menu{
    display:flex;
    justify-content:center;
    flex-direction:row;
    align-items:center;
    text-align:center;
    transition: 0.8s ease-in-out;
    background:none;
    width:80%;
    height:100%;

}



.menu li{
    list-style-type:none;
}

.menu li a{
    color:white;
    text-decoration:none;
    font-family:'Questrial', sans-serif;
    display:block;
    letter-spacing:1px;
    font-size:17px;
    font-weight:400;
    line-height:30px;
    transition:0.3s;
    background-color:none;
    

}

.spacer{
    width:2%;
}

#contactCircle{
    width:110px;
    height:110px;
    background-color:#F5008B;/*#E0007F;/*#CC0074;/*#F90B6F;*/
    border-radius:50%;
    display:flex;
    justify-content:center;
    vertical-align:middle;

}

#secondlink{
    width:100%;
     
}


#thirdlink{
}




#sixthLink{
    vertical-align:middle;
    padding:auto;
    margin:auto;
    animation: rotating 6s linear infinite;
    color:white;
    font-family: 'Questrial', sans-serif;
    font-size:16px;
    font-weight:300;
    letter-spacing:1px;
    
}

 @keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.menu li a:hover{
    color:none;
}


.hamburger{
    position:relative;
    width:25px;
    height:3px;
    background:#91a28a;
    border-radius:15px;
    cursor:pointer;
    transition:0.3s;
    z-index:2;
}

.hamburger:before,
.hamburger:after{
    content:"";
    position:absolute;
    height:3px;
    right:0;
    background:#91a28a;
    transition:0.3s;
}

.hamburger:before {
    top: -10px;
    width:24px;
 }

.hamburger:after {
    top: 10px;
    width:25px;
}

.toggle-menu {
    position:absolute;
    width:30px;
    height:25px;
    cursor:pointer;
    opacity:0;
    z-index:3;
}

.hamburger,
.toggle-menu {
    display:none;
}

.navigation input:checked ~ .hamburger
{
    background: transparent;
}

.navigation input:checked ~ .hamburger:before
{
    top:0;
    transform: rotate(-45deg);
    width:24px;
}

.navigation input:checked ~ .hamburger:after
{
    top:0;
    transform: rotate(45deg);
    width:24px;
}


.navigation input:checked ~ .menu{
    right: 0;
}





#landing{
    background-color:orange;
    display:flex;
    flex-direction:column;
    margin:auto;
    padding:auto;
    width:100%;
    height:50%;
    position:relative;
}


#landingContent{
    display:flex;
    flex-direction:column;
    margin:auto;
    padding:auto;
    background-color:#F85611;
    z-index:10;
    width:100%;
    align-items:center;
}

#firstLine{
   
    font-family: 'Questrial', sans-serif;
    display:flex;
    flex-direction:column;
    color:#9fafa6;
    font-weight:400;
    margin:auto;
    padding:auto;
    background:none;
    margin-top:10%;
    margin-bottom:2%;
    width:90%;
    vertical-align:middle;
    padding: 1% 0% 7% 1%;
    }


#port1{
    font-size:35px;
    font-weight:700;
    color:white;
    letter-spacing:-1px;
    line-height:normal;
}

#port2{
    font-size:70px;
    font-weight:800;
    color:white;
}

/******************************/


#webProjects{
    width:100%;
    height:100%;
    background-color:none;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
#webProjectsTitle{
    margin-top:7%;
    margin-bottom:2%;
    vertical-align:middle;
    background:none;


}


.webContainer{
    display:flex;
    flex-direction:row;
    background-color:none;
    width:90%;
    margin-top:5%;
    text-align:right;
    justify-content:center;
}



.webLeft{
    display:flex;
    flex-direction:column;
    background-color:none;
    width:40%;
    margin:5% 0 5% 1%;
}


.webRight{
    width:42%;
    background-color:none;
    display:flex;
    justify-content:left;
    padding-left:1%;
}


.webImageContainer{
    width:85%;
    height:90%;
    display:flex;
    justify-content:center;
    padding: .2% 2% .2% .2%;
    border-radius:4px;
}

#web5ImageContainer{
    background-color:#742445;
}

#web4ImageContainer{
    background-color:#D7F426;
}


#web3ImageContainer{
    background-color:#F90B6F;
}

#web2ImageContainer{
   
    background-color:#5C7562;
   }

#web1ImageContainer{
    background-color:#FF5C20;
    
}




.webImages{
    width:100%;
   height:100%;
}   
   

.webImages:hover{
    opacity: 0.5;
   filter: alpha(opacity=30);
}




/***********************codePart*/

#codeStaffTitle{
    margin-top:5%;
    text-align:center;
}

#code1MainContainer{
 display:flex;
    flex-direction:row;
    background-color:none;
    width:90%;
    margin-top:5%;
    text-align:left;
}


#code1ImageContainer{
    width:80%;
    height:100%;
    position:relative;
    background-color:none;
    margin:auto;
    padding:auto;
    margin-left:20%;
}

#code1Left{
    display:flex;
    flex-direction:column;
    background-color:none;
    width:55%;
    justify-content:left;
    padding-left:5%;
}

#code1Right{
    width:45%;
    background-color:none;
    display:flex;
    flex-direction:column;
    margin:5% 0 5% 1%;
    text-align:left;
    justify-content:left;
}

#code1{
    width:100%;
   height:100%;
   background-size:fit;
   background-repeat:no-repeat;
}   
   

#code1:hover{
    opacity: 0.5;
   filter: alpha(opacity=30);
}


/*****************FIRST CODE CONTENT****************/

#keysContainer{
    display:flex;
    width:100%;
    flex-direction:column;
    justify-content:center;
    align-items:middle;
    background-color:none;
    opacity:70%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 10px;
}


#firstKeys{
    font-size:9pt;
    color:white;
    font-weight:bold;
    display:flex;
    flex-direction:row;
    background-color:none;
    justify-content:center;
}

#secondKeys{
    font-size:9pt;
    font-weight:bold;
    color:white;
    display:flex;
    flex-direction:row;
    background-color:none;
    justify-content:center;
}

#thirdKeys{
    font-size:9pt;
    font-weight:bold;
    color:white;
    display:flex;
    flex-direction:row;
    background-color:none;
    justify-content: center;
    align-items:center;
    
}

.keyLetters{
    font-family: 'Questrial', sans-serif;
    font-size:30pt;
    color:white;
}


#key1{
    width:20%;
    background:black;
    opacity:70%;
    padding:auto;
    margin:auto;
    padding:5px 5px 5px 5px;
}


#key2{
    width:20%;
    background:black;
    opacity:70%;
    padding:auto;
    margin:auto;
    padding:5px 5px 5px 5px;
}

#key3{
    width:20%;
    background:black;
    opacity:70%;
    padding:auto;
    margin:auto;
    padding:5px 5px 5px 5px;
}

#key4{
    width:20%;
    background:black;
    opacity:70%;
    padding:auto;
    margin:auto;
    padding:5px 5px 5px 5px;
}


#key5{
    width:20%;
    background:black;
    opacity:70%;
    margin-right:3%;
    padding:5px 5px 5px 5px;
    
}


#key6{
    width:20%;
    background:black;
    opacity:70%;
    padding:5px 5px 5px 5px;
   
}


#key7{
    width:20%;
    background:black;
    margin-left:5%;
    opacity:70%;
    padding:5px 5px 5px 5px;
   
}

#key8{
    width:20%;
    background:black;
    margin-right:2%;
    opacity:70%;
    padding:5px 5px 5px 5px;

    
}



#key9{
    width:20%;
    background:black;
    margin-left:2%;
    opacity:70%;
    padding:5px 5px 5px 5px;
}


.key{
    transition: all .07s;
    width:20%;
    opacity:70%;
    margin-left:2%;
    border:1px solid;
    border-color:white;
    padding:5px 5px 5px 5px;
}


.playing {
    transform:scale(1.1);
    border:2px solid;
    border-color:#F7C9FF;
    opacity:0%;
    box-shadow: 0 0 40px pink;
}



.sound{
    padding:10% 10% 10% 10%;
    font-family: 'Questrial', sans-serif;
    
    
}

/*****************SECOND CODE****************/




#code2MainContainer{
 display:flex;
    flex-direction:row;
    background-color:none;
    width:90%;
    margin-top:5%;
    text-align:left;

}

#code2Left{
    display:flex;
    flex-direction:column;
    background-color:none;
    width:55%;
    justify-content:left;
    padding-left:5%;
}

#code2ImageContainer{
    width:80%;
    position:relative;
    background-color:black;
    margin:auto;
    padding:auto;
    display:flex;
    flex-direction:column;
     margin-left:20%;

}


.legend{
    font-family: 'Questrial', sans-serif;
    font-size:14pt;
    font-weight:400;
    color:white;
    padding-bottom:10%;
    padding-top:3%;
}

.clocks{
    margin:auto;
    padding:auto;
}

#firstClockLine{
    width:90%;
    height:150%;
    background-color:none;
    display:flex;
    flex-direction:row;
    justify-content:center;
    margin:auto;
    padding:auto;
    padding-top:3%;
}

#leftTopContainer{
    width:30%;
    display:flex;
    flex-direction:column;
    background-color:none;
    justify-content:center;
    text-align:center;

}
    

.clocks{
    width:120px;
    height:120px;
    border-radius:50%;
    background-color:white;
    border:4px solid;
    border-color:gray;
    margin-top:3%;
}


#rightTopContainer{
    width:30%;
    display:flex;
    flex-direction:column;
    background-color:none;
    justify-content:center;
    text-align:center;

}
    




#secondClockLine{
    width:90%;
    height:150%;
    background-color:none;
    display:flex;
    flex-direction:row;
    justify-content:center;
    margin:auto;
    padding:auto;
    padding-bottom:3%;
}

#leftBottomContainer{
    width:30%;
    display:flex;
    flex-direction:column;
    background-color:none;
    justify-content:center;
    text-align:center;

}
    



#rightBottomContainer{
    width:30%;
    display:flex;
    flex-direction:column;
    background-color:none;
    justify-content:center;
    text-align:center;

}
    




#code2Right{
    width:45%;
    background-color:none;
    display:flex;
    flex-direction:column;
    margin:5% 0 5% 1%;
    text-align:left;
    justify-content:left;
    
}

#code2{
    width:100%;
   height:100%;
   background-size:fit;
   background-repeat:no-repeat;
}   
   

#code2:hover{
    opacity: 0.5;
   filter: alpha(opacity=30);
}



/*************CODE TWO CONTENT*****************************************/
/*************FIRST CLOCK HANDS*****************************************/
.clockFace{
    position:relative;
    width:100%;
    height:100%;
    transform:translateY(-3px);
    transform:rotate(90deg);
    
}



.hand{
    width:50%;
    height:2px;
    top:50%;
    position:absolute;
    transform-origin:100%;
    transform: rotate(90deg);
    transition: all 0.05sec;
    transition-timing-function:cubic-bezier(0.1, 2.7, 0.58, 1);
}


#handSecond{
    background:#DB2063;
    height:1px;
}

.second-hand{
    width:47%;
    left:3%;
}

#handHour{
    background:gray;
    height:2px;
    border-top-left-radius: 80000px;
    border-top-right-radius: 80000px;
    border-bottom-left-radius: 80000px;
    border-bottom-right-radius: 80000px;

}

.hour-hand{
    width: 35%;
    left: 15%;
    border-top-left-radius: 80000px;
    border-top-right-radius: 80000px;
    border-bottom-left-radius: 80000px;
}

#handMinute{
    height:2px;
    background:gray;
}

.min-hand{
    width: 45%;
    left: 5%;
}

/*************SECOND CLOCK HANDS*****************************************/


.hand2{
    width:50%;
    height:2px;
    top:50%;
    background:black;
    position:absolute;
    transform-origin:100%;
    transform: rotate(90deg);
    transition: all 0.05sec;
    transition-timing-function:cubic-bezier(0.1, 2.7, 0.58, 1);
}


.second-hand2{
    width:47%;
    left:3%;
}

.hour-hand2{
    width: 40%;
    left: 10%;
    border-top-left-radius: 80000px;
    border-top-right-radius: 80000px;
    border-bottom-left-radius: 80000px;
    background:gray;
    height:2.3px;
    
}




.min-hand2{
    width: 45%;
    left: 5%;
}


/*************THIRD CLOCK HANDS*****************************************/


.hand3{
    width:50%;
    height:2px;
    top:50%;
    background:black;
    position:absolute;
    transform-origin:100%;
    transform: rotate(90deg);
    transition: all 0.05sec;
    transition-timing-function:cubic-bezier(0.1, 2.7, 0.58, 1);
}


.second-hand3{
    width:47%;
    left:3%;
}

.hour-hand3{
    width: 40%;
    left: 10%;
    border-top-left-radius: 80000px;
    border-top-right-radius: 80000px;
    border-bottom-left-radius: 80000px;
    background:gray;
    height:2.3px;
    
}




.min-hand3{
    width: 45%;
    left: 5%;
}

/**********************FOURTH CLCK HANDS************************/
.hand4{
    width:50%;
    height:2px;
    top:50%;
    background:black;
    position:absolute;
    transform-origin:100%;
    transform: rotate(90deg);
    transition: all 0.05sec;
    transition-timing-function:cubic-bezier(0.1, 2.7, 0.58, 1);
}

.second-hand4{
    width:47%;
    left:3%;
}

.hour-hand4{
    width: 40%;
    left: 10%;
    border-top-left-radius: 80000px;
    border-top-right-radius: 80000px;
    border-bottom-left-radius: 80000px;
    background:gray;
    height:2.3px;
    
}


.min-hand4{
    width: 45%;
    left: 5%;
}
/***THIRD CODE***********************************************************/








#code3MainContainer{
 display:flex;
    flex-direction:row;
    background-color:none;
    width:90%;
    margin-top:5%;
    text-align:left;
}


#code3ImageContainer{
    width:80%;
    height:100%;
    position:relative;
    background-color:black;
    opacity:70%;
    display:flex;
    flex-direction:column;
    margin:auto;
    padding:auto;
    margin-left:20%;
}

#code3Left{
    display:flex;
    flex-direction:column;
    background-color:none;
    width:55%;
    justify-content:left;
    padding-left:5%;
}

#Container3{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:middle;
    background-color:black;
    opacity:70%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 10px;
}


#heart{
    width:50px;
    height:50px;
    background-color:#F90B6F;
    margin:auto;
    padding:auto;
    margin-top:15%;
    position:relative;
    transform:rotate(-45deg) scale(1);
    animation:pulse 0.9s linear infinite;
}

@keyframes pulse {
    0% {
        transform::rotate(-45deg) scale(1);;
    }
    10%{
        transform:rotate(-45deg) scale(1.1);
    }
    20%{
    transform:rotate(-45deg) scale(1.2);
    }
}

#heart::after{
    width:50px;
    height:50px;
    content:"";
    border-radius:50%;
    top: -30px;
    left: 0px;
    position:absolute;
    background-color:inherit;
}

#heart::before{
    width:50px;
    height:50px;
    content:"";
    border-radius:50%;
    top: 0px;
    right: -30px;
    position:absolute;
    background-color:inherit;
}



#likeCount{
    display:flex;
    font-family: 'Questrial', sans-serif;
    font-size:18pt;
    font-weight:400;
    color:white;
    margin:auto;
    padding:auto;
}

#message{
    font-family: 'Questrial', sans-serif;
    font-size:14pt;
    font-weight:400;
    color:#F90B6F;
    margin:auto;
    padding:auto;
    margin-top:2%;
}

#likeButton{
    width:20%;
    height:10%;
    border-radius:10px;
    margin:auto;
    margin-top:5%;
}

#likeButton:hover {
    background:lightgray;
}
#likeButton:active {
    background:#F90B6F;
}

#code3Right{
    width:45%;
    background-color:none;
    display:flex;
    flex-direction:column;
    margin:5% 0 5% 1%;
    text-align:left;
    justify-content:left;
}

#code3{
    width:100%;
   height:100%;
   background-size:fit;
   background-repeat:no-repeat;
}   
   

#code3:hover{
    opacity: 0.5;
   filter: alpha(opacity=30);
}























/**************************************************************/


/**************************************************************/









@media (max-width:1550px) and (min-width:1450px) {

.webImageContainer{
    width:80%;
    height:80%;
    margin:auto;

}

#code1Left{
    margin-left:5%;
}
#code2Left{
    margin-left:5%;
}

#Container3{
    width: 100%;
    height: 90%;
}

#code3Left{
    margin-left:5%;
}

#code1Right{
    margin-left:5%;
}
#code2Right{
    margin-left:5%;
}

#code3Right{
    margin-left:5%;
}




}






@media (max-width:1450px) and (min-width:1350px) {

.webImageContainer{
    width:80%;
    height:70%;
    margin:auto;
}

#code1ImageContainer{
    width:80%;
    height:80%;
    margin-left:10%;
}

#code1Left{
    margin-left:10%;
}
#code1Right{
    margin-left:2%;
}

#code2ImageContainer{
    width:80%;
    height:80%;
    margin-left:10%;
}

#code2Left{
    margin-left:10%;
}
#code2Right{
    margin-left:2%;
}

.clocks{
    width:82px;
    height:82px;
}
#code3ImageContainer{
    width:80%;
    height:80%;
    margin-left:10%;
}

#heart{
    height:40px;
    width:40px;
}

#heart::after{
    height:40px;
    width:40px;
    top:-20px;
}

#heart::before{
    height:40px;
    width:40px;
    right:-20px;
}

#code3Left{
    margin-left:10%;
}
#code3Right{
    margin-left:2%;
}




}





@media (max-width:1350px) and (min-width:1250px) {

.webImageContainer{
    width:80%;
    height:70%;
    margin:auto;
}

#codeStaffTitle{
    margin-top:5%;
    text-align:center;
}

#code1MainContainer{
 display:flex;
    flex-direction:row;
    background-color:none;
    width:90%;
    margin-top:5%;
    text-align:left;
}



#code1ImageContainer{
    width:90%;
    height:80%;
    position:relative;
    background-color:none;
    margin:auto;
    padding:auto;


}

#code1Left{
    display:flex;
    flex-direction:column;
    background-color:none;
    width:70%;
    justify-content:left;
    padding-left:15%;
}

#code1Right{
    width:50%;
    background-color:none;
    display:flex;
    flex-direction:column;
    margin:5% 0 5% 3%;
    text-align:left;
    justify-content:left;
}

#code1{
    width:100%;
   height:100%;
   background-size:fit;
   background-repeat:no-repeat;
}   
   

#code1:hover{
    opacity: 0.5;
   filter: alpha(opacity=30);
}

    
#code2MainContainer{
 display:flex;
    flex-direction:row;
    background-color:none;
    width:90%;
    margin-top:5%;
    text-align:left;
}



#code2ImageContainer{
    width:90%;
    height:85%;
    position:relative;
    background-color:none;
    margin:auto;
    padding:auto;
}

#code2Left{
    display:flex;
    flex-direction:column;
    background-color:none;
    width:70%;
    justify-content:left;
    padding-left:15%;
}

#code2Right{
    width:50%;
    background-color:none;
    display:flex;
    flex-direction:column;
    margin:5% 0 5% 3%;
}

.clocks{
    width:82px;
    height:82px;
}

.legend{
    font-size:12pt;
}



#code3ImageContainer{
    width:90%;
    height:85%;
    position:relative;
    background-color:none;
    margin:auto;
    padding:auto;
}

#code3Left{
    display:flex;
    flex-direction:column;
    background-color:none;
    width:70%;
    justify-content:left;
    padding-left:15%;
}

#code3Right{
    width:50%;
    background-color:none;
    display:flex;
    flex-direction:column;
    margin:5% 0 5% 3%;
}



}


@media (max-with:900px) and (min-widht:750px){
    #firstLine{
        margin-top:20%;
    }
}

@media (max-width:1250px) and (min-width:850px) {
    

#firstline{
    margin-top:4%;
}

.webContainer{
    display:flex;
    flex-direction:column;
    background-color:none;
    width:90%;
    margin-top:5%;
    text-align:left;
    justify-content:center;
}

.webImageContainer{
    width:85%;
    height:45%;
    margin:auto;
}

.webLeft{
    display:flex;
    flex-direction:column;
    background-color:none;
    width:100%;
    margin:5% 0 5% 1%;
    padding-left:9%;
    padding-right:9%;
}



.webRight{
    width:100%;
    background-color:none;
    display:flex;
    justify-content:left;
}



#codeStaffTitle{
    margin-top:7%;
}

#code1MainContainer{
    margin:auto;
    padding:auto;
    width:80%;
    background-color:none;
    flex-direction:column;
}

#code1ImageContainer{
    width:98%;
    height:42%;
    display:flex;
    background-color:black;
    margin-left:-1%;
    
}

#code1Left{
    width:100%;
    
}
#code1{
    width:82%;
    justify-content:left;
}

#code1Right{
    display:flex;
    flex-direction:column;
    background-color:none;
    width:95%;
    margin:auto;
    padding:auto;
    padding-left:1.6%;
    padding-bottom:5%;
}





.legend{
    font-family: 'Questrial', sans-serif;
    font-size:14pt;
    font-weight:400;
    color:white;
    padding-top:5%;
}




#code2MainContainer{
    margin:auto;
    padding:auto;
    width:80%;
    background-color:none;
    flex-direction:column;
}



#code2ImageContainer{
    width:98%;
    height:42%;
    display:flex;
    background-color:black;
    margin-left:-1%;
    
}




#code2Left{
    width:100%;
    

    
    
}



#firstClockLine{
    width:90%;
    height:150%;
    background-color:none;
    display:flex;
    flex-direction:row;
    margin:auto;
    padding:auto;
    padding-top:3%;
}

#leftTopContainer{
    display:flex;
    flex-direction:column;
    background-color:none;
    justify-content:center;
    margin-right:3%;


}
    

#firstClock{
    width:120px;
    height:120px;
    border-radius:50%;
    background-color:white;
    margin-top:3%;
}


#rightTopContainer{
    display:flex;
    flex-direction:column;
    background-color:none;
    justify-content:center;
    text-align:center;
    margin-left:3%;
}
    
#secondClock{
    width:120px;
    height:120px;
    border-radius:50%;
    background-color:white;
    margin-top:3%;
}

#secondClockLine{
    width:90%;
    height:150%;
    background-color:none;
    display:flex;
    flex-direction:row;
    justify-content:center;
    margin:auto;
    padding:auto;
    padding-bottom:3%;
}

#leftBottomContainer{
    display:flex;
    flex-direction:column;
    background-color:none;
    justify-content:center;
    text-align:center;
    margin-right:3%;
    margin-top:3%;
    
}
    

#thirdClock{
    width:120px;
    height:120px;
    border-radius:50%;
    background-color:white;
    margin-top:3%;
}


#rightBottomContainer{
    display:flex;
    flex-direction:column;
    background-color:none;
    justify-content:center;
    text-align:center;
    margin-left:3%;
    margin-top:3%;
    
    
}
    

#fourthClock{
    width:120px;
    height:120px;
    border-radius:50%;
    background-color:white;
    margin-top:3%;
}



#code2Right{
     display:flex;
    flex-direction:column;
    background-color:none;
    width:95%;
    margin:auto;
    padding:auto;
    padding-left:1.6%;
    padding-bottom:5%;
}

#code2{
    width:100%;
   height:100%;
   background-size:fit;
   background-repeat:no-repeat;
}   
   

#code2:hover{
    opacity: 0.5;
   filter: alpha(opacity=30);
}

/***********************************************************************
#code3MainContainer{
    display:flex;
    flex-direction:column;
    width:75%;
    margin:auto;
    padding:auto;
    background:red;
    justify-content:center;
    text-align:center;
    margin-top:10%;
    
    
}

#codeImageContainer3{
    margin-left:-39%;
}


#code3Left{
    margin:auto;
    padding:auto;
    width:100%;
    height:60%;
    background:green;
    position:absolute;
    
}

#code3Right{
    margin:auto;
    padding:auto;
    width:75%;
    background:yellow;
    position:absolute;
    margin-top:50%;
}
************/
#code3MainContainer{
    margin:auto;
    padding:auto;
    width:80%;
    background-color:none;
    flex-direction:column;
    justify-content:center;
}



#code3ImageContainer{
    width:100%;
    display:flex;
    flex-direction:column;
    background-color:black;
    opacity:70%;
    margin:auto;
    padding:auto;

}


#code3Left{
    width:98%;
    justify-content:center;
    display:flex;
    flex-direction:column;
    align-items:center;
    margin:auto;
    padding:auto;
    margin-left:-1%;
    
    
}

#heart{
    margin:auto;
    padding:auto;
    margin-top:15%;
}

#likeCount{
    margin-top:5%;
}

#message{
    margin-top:3%;
}

#likeButton{
    margin-top:5%;
    height:30px;
    margin-bottom:5%;
}

#code3Right{
     display:flex;
    flex-direction:column;
    background-color:none;
    width:95%;
    margin:auto;
    padding:auto;
    padding-left:1.6%;
    padding-bottom:5%;
    margin-top:2%;
}



}

/**********************************************/

@media (max-width:850px) and (min-width:750px) {
    
h4{
    font-size:30px;
}

h5{
    font-size:14px;
}
    
.webContainer{
    display:flex;
    flex-direction:column;
    background-color:none;
    width:90%;
    margin-top:5%;
    text-align:right;
    justify-content:center;
}


.webLeft{
    display:flex;
    flex-direction:column;
    background-color:none;
    width:100%;
    margin: 5% 1% 5% 1%;
    padding-left:7%;
    padding-right:8%;
}



.webRight{
    width:100%;
    background-color:none;
    display:flex;
    justify-content:left;
}

/*****************************************/
/**************************************/
.webImageContainer{
    width:85%;
    height:45%;
    margin:auto;
}

/*********************************************/
#codeStaffTitle{
    margin-top:7%;
}

#code1MainContainer{
    margin:auto;
    padding:auto;
    width:80%;
    background-color:none;
    flex-direction:column;
}


#code1ImageContainer{
    width:98%;
    height:42%;
    display:flex;
    background-color:black;
    margin-left:-1%;
    
}


#code1Left{
    width:100%;

    
}
#code1{
    width:82%;
    justify-content:left;
}

#code1Right{
     display:flex;
    flex-direction:column;
    background-color:none;
    width:95%;
    margin:auto;
    padding:auto;
    padding-left:1.6%;
    padding-bottom:5%;
}

#code2MainContainer{
    margin:auto;
    padding:auto;
    width:80%;
    background-color:none;
    flex-direction:column;
}


#code2ImageContainer{
    width:98%;
    height:42%;
    display:flex;
    background-color:black;
    margin-left:-1%;
    
}


#code2Left{
    width:100%;
}

#firstClock{
    margin-top:5%;
    

}

#secondClock{
    margin-top:5%;
    
}

#thirdClock{
    margin-top:5%;
    

}
#fourthClock{
    margin-top:5%;
    

}


#code2Right{
     display:flex;
    flex-direction:column;
    background-color:none;
    width:95%;
    margin:auto;
    padding:auto;
    padding-left:1.6%;
    padding-bottom:5%;
}

#code3MainContainer{
    margin:auto;
    padding:auto;
    width:80%;
    background-color:none;
    flex-direction:column;
}


#code3Left{
    width:100%;
}

#heart{
    width:25px;
    height:25px;
    margin-top:10%;
}

#heart::after{
    width:25px;
    height:25px;
    top:-10px;
}

#heart::before{
    width:25px;
    height:25px;
    left:10px;
}

#likeCount{
    margin-top:3%;
}

#likeButton{
    margin-top:5%;
    height:30px;
    margin-bottom:5%;
}

#code3ImageContainer{
    width:98%;
    height:42%;
    display:flex;
    margin-left:-1%;
    
}
#code3Right{
     display:flex;
    flex-direction:column;
    background-color:none;
    width:98%;
    margin:auto;
    padding:auto;
    padding-left:1.6%;
    padding-bottom:5%;
    margin-top:2.2%;
    margin-left:2.1%;
}

}



@media (max-width:750px) and (min-width:550px) {
    

.spacer{
    width:3%;
}
    
h1{
    
}


#port1{
    margin-top:10%;
}

#port2{
    font-size:50px;
}

h2{
    font-size:50px;
}
    
h4{
    font-size:30px;
}

h5{
    font-size:14px;
    line-height:35px;

}
    
.webContainer{
    display:flex;
    flex-direction:column;
    background-color:none;
    width:90%;
    margin-top:5%;
    text-align:right;
    justify-content:center;
}


.webLeft{
    display:flex;
    flex-direction:column;
    background-color:none;
    width:100%;
    margin: 5% 1% 5% 1%;
    padding-left:7%;
    padding-right:8%;
}



.webRight{
    width:100%;
    background-color:none;
    display:flex;
    justify-content:left;
}



.webImageContainer{
    width:85%;
    height:45%;
    margin:auto;
}

/******************************************/

#codeStaffTitle{
    margin-top:7%;
}


#code1MainContainer{
    margin:auto;
    padding:auto;
    width:80%;
    background-color:none;
    flex-direction:column;
}


#code1Container{
 display:flex;
    flex-direction:column;
    background-color:none;
    width:100%;
}


#code1ImageContainer{
    width:98%;
    height:42%;
    display:flex;
    background-color:black;
    margin-left:-1%;
    
}

#code1Left{
    width:100%;
    
}
#code1{
    width:82%;
    justify-content:left;
}

#code1Right{
    width:100%;
    background-color:none;
    padding-left:3%;
    padding-right:3.5%;
}

.keyLetters{
    font-size:20pt;
}

#code2MainContainer{
    margin:auto;
    padding:auto;
    width:80%;
    background-color:none;
    flex-direction:column;
}

#code2ImageContainer{
    width:98%;
    height:42%;
    display:flex;
    background-color:black;
    margin-left:-1%;
    
}

#code2Left{
    width:100%;
}

.clocks{
    width:110px;
    height:110px;
    margin:auto;
    padding:auto;
}

.legend{
    font-size:11pt;
}

#code2Right{
     display:flex;
    flex-direction:column;
    background-color:none;
    width:95%;
    margin:auto;
    padding:auto;
    padding-left:1.6%;
    padding-bottom:5%;
}

#code3MainContainer{
    margin:auto;
    padding:auto;
    width:80%;
    background-color:none;
    flex-direction:column;
}


#code3ImageContainer{
    width:98%;
    height:42%;
    display:flex;
    background-color:black;
    margin-left:-1%;
    
}

#code3Left{
    width:100%;
    }

#heart{
    width:30px;
    height:30px;
    margin-top:10%;
}

#heart::after{
    width:30px;
    height:30px;
    top:-12px;
}
#heart::before{
    width:30px;
    height:30px;
    left:12px;
}

#likeCount{
    margin-top:6%;
    font-size:13pt;
}

#message{
    margin-top:5%;
}

#likeButton{
    margin-top:5%;
    height:25px;
    margin-bottom:7%;
}

#code3Right{
     
    width:95%;
    margin:auto;
    padding:auto;
    padding-left:1.6%;
    padding-bottom:5%;
    margin-top:4%;
}

}




@media (max-width:550px) and (min-width:450px) {

.spacer{
    width:6%;
}

.menu{
    width:90%;
}

h1{
    font-size:25px;
}

#port1{
    margin-top:15%;
}


#port2{
    font-size:40px;
    line-height:50px;
}

h2{
    font-size:40px;
}
    
h4{
    font-size:25px;
}

h5{
    font-size:12px;
    line-height:30px;
}

#firstLine{
    margin-top:7%;
}

    
.webContainer{
    display:flex;
    flex-direction:column;
    background-color:none;
    width:90%;
    margin-top:5%;
    text-align:right;
    justify-content:center;
}


.webLeft{
    display:flex;
    flex-direction:column;
    background-color:none;
    width:100%;
    margin: 5% 1% 5% 1%;
    padding-left:7%;
    padding-right:8%;
}

.webRight{
    width:100%;
    background-color:none;
    display:flex;
    justify-content:left;
}



.webImageContainer{
    width:85%;
    height:45%;
    margin:auto;
}

#codeStaffTitle{
    margin-top:7%;
}


#code1MainContainer{
    margin:auto;
    padding:auto;
    width:80%;
    background-color:none;
    flex-direction:column;
}

#code1ImageContainer{
    width:98%;
    display:flex;
    background-color:black;
    margin-left:-1%;
    
}

#code1{
    height:250px;
}


#code1Left{
    width:100%;
}
#code1{
    width:82%;
    justify-content:left;
}

#code1Right{
    width:100%;
    background-color:none;
    padding-left:3%;
    padding-right:3.5%;
}

.keyLetters{
    font-size:17pt;
}

#firstKeys{
    font-size:7pt;
    letter-spacing:1px;
}

#secondKeys{
    font-size:7pt;
}

#thirdKeys{
    font-size:7pt;
}



#code2MainContainer{
    margin:auto;
    padding:auto;
    width:80%;
    background-color:none;
    flex-direction:column;
}

#code2ImageContainer{
    width:98%;
    height:42%;
    display:flex;
    background-color:black;
    margin-left:-1%;
    
}

#code2Left{
    width:100%;
}
#code2{
    width:82%;
    justify-content:left;
}
#firstClock{
    margin-top:8%;
    width:75px;
    height:75px;
}

#secondClock{
        margin-top:8%;
    width:75px;
    height:75px;
}

#thirdClock{
        margin-top:8%;
    width:75px;
    height:75px;

}
#fourthClock{
        margin-top:8%;
    width:75px;
    height:75px;

}

.legend{
    font-size:10pt;
}



#code2Right{
    width:100%;
    background-color:none;
    padding-left:3%;
    padding-right:3.5%;
}


#code3MainContainer{
    margin:auto;
    padding:auto;
    width:80%;
    background-color:none;
    flex-direction:column;
}
#code3ImageContainer{
    width:98%;
    height:42%;
    display:flex;
    background-color:black;
    margin-left:-1%;
    }

#code3Left{
    width:100%;
    }

#heart{
    width:30px;
    height:30px;
    margin-top:12%;
}

#heart::after{
    width:30px;
    height:30px;
    top:-12px;
}
#heart::before{
    width:30px;
    height:30px;
    left:12px;
}

#likeCount{
    margin-top:6%;
    font-size:13pt;
}

#message{
    margin-top:5%;
}

#likeButton{
    margin-top:8%;
    height:25px;
    margin-bottom:7%;
}

#code3Right{
     
    width:95%;
    margin:auto;
    padding:auto;
    padding-left:1.6%;
    padding-bottom:5%;
    margin-top:8%;
}
    
}






@media (max-width:450px) and (min-width:201px) {



#contactCircle{
    width:70px;
    height:70px;
    background-color:#F90B6F;
    border-radius:50%;
    display:flex;
    justify-content:center;
    vertical-align:middle;
    

}


.menu{
    justify-content:space-between;
   
    width:90%;

}


.menu li a{
    
    letter-spacing:1px;
    font-size:11px;
    font-weight:800;
    line-height:30px;
    transition:0.3s;
    justify-content:space-between;
}

.spacer{
    width:12%;
}

#sixthLink{
    
     font-size:11px;
    font-weight:800;
    letter-spacing:2px;
    
}

h1{
    font-size:25px;
}

#port1{
    margin-top:20%;
}


#port2{
    font-size:40px;
    line-height:50px;
}

h2{
    font-size:40px;
}
    
h4{
    font-size:25px;
}

h5{
    
    font-size:12px;
    line-height:30px;
}


    
.webContainer{
    display:flex;
    flex-direction:column;
    background-color:none;
    width:90%;
    margin-top:5%;
    text-align:right;
    justify-content:center;
}


.webLeft{
    display:flex;
    flex-direction:column;
    background-color:none;
    width:100%;
    margin: 5% 1% 5% 1%;
    padding-left:7%;
    padding-right:8%;
}



.webRight{
    width:100%;
    background-color:none;
    display:flex;
    justify-content:left;
}



.webImageContainer{
    width:85%;
    height:45%;
    margin:auto;
}


#codeStaffTitle{
    margin-top:7%;
}


#code1MainContainer{
    margin:auto;
    padding:auto;
    width:80%;
    background-color:none;
    flex-direction:column;
}


#code1Container{
 display:flex;
    flex-direction:column;
    background-color:none;
    width:100%;
}


#code1ImageContainer{
    width:98%;
    height:42%;
    display:flex;
    background-color:black;
    margin-left:-1%;
    
}

#code1{
    height:210px;
}



#code1Left{
    width:100%;
    

    
    
}
#code1{
    width:82%;
    justify-content:left;
}

#code1Right{
    width:100%;
    background-color:none;
    padding-left:3%;
    padding-right:3.5%;
}



.keyLetters{
    font-size:13pt;
}

#firstKeys{
    font-size:6pt;
    letter-spacing:0;
}

#secondKeys{
    font-size:6pt;
}

#thirdKeys{
    font-size:6pt;
}

#code2MainContainer{
    margin:auto;
    padding:auto;
    width:80%;
    background-color:none;
    flex-direction:column;
}


#code2ImageContainer{
    width:98%;
    height:42%;
    display:flex;
    background-color:black;
    margin-left:-1%;
    
}


#code2Left{
    width:100%;
    
}
#code2{
    width:82%;
    justify-content:left;
}

#firstClock{
    margin-top:8%;
    width:73px;
    height:73px;
}

#secondClock{
    margin-top:8%;
    width:73px;
    height:73px;
}

#thirdClock{
    margin-top:8%;
    width:73px;
    height:73px;
}
#fourthClock{
    margin-top:8%;
    width:73px;
    height:73px;
}

.legend{
    font-size:8pt;
}

#code2Right{
    width:100%;
    background-color:none;
    padding-left:3%;
    padding-right:3.5%;
}

#code3MainContainer{
    margin:auto;
    padding:auto;
    width:80%;
    background-color:none;
    flex-direction:column;
}

#code3ImageContainer{
    width:98%;
    height:42%;
    display:flex;
    background-color:black;
    margin-left:-1%;
    
}

#code3Left{
    width:100%;
    }

#heart{
    width:30px;
    height:30px;
    margin-top:13%;
}

#heart::after{
    width:30px;
    height:30px;
    top:-12px;
}
#heart::before{
    width:30px;
    height:30px;
    left:12px;
}

#likeCount{
    margin-top:6%;
    font-size:13pt;
}

#message{
    margin-top:5%;
}

#likeButton{
    margin-top:9%;
    height:25px;
    margin-bottom:5%;
}

#code3Right{
     
    width:95%;
    margin:auto;
    padding:auto;
    padding-left:1.6%;
    padding-bottom:5%;
    margin-top:10%;
}
    
}



@media (max-width:371px) and (min-width:321px) {


#contactCircle{
    width:60px;
    height:60px;
    background-color:#F90B6F;
    border-radius:50%;
    display:flex;
    justify-content:center;
    vertical-align:middle;
    

}


.menu{
    justify-content:space-between;
   
    width:90%;

}


.menu li a{
    
    letter-spacing:1px;
    font-size:11px;
    font-weight:800;
    line-height:30px;
    transition:0.3s;
}


#sixthLink{
    
     font-size:11px;
    font-weight:800;
    letter-spacing:2px;
    
}

.shrink {
  height: 8%;
}


.menu li a{
    
    letter-spacing:1px;
    font-size:12px;
    font-weight:800;
    line-height:30px;
    transition:0.3s;
}


#sixthLink{
    
     font-size:13px;
    font-weight:800;
    letter-spacing:2px;
    
}

h1{
    font-size:25px;
}

#port1{
    margin-top:20%;
}


#port2{
    font-size:40px;
    line-height:50px;
}

h2{
    font-size:40px;
}
    
h4{
    font-size:25px;
}

h5{
    font-size:12px;
}
    
.webContainer{
    display:flex;
    flex-direction:column;
    background-color:none;
    width:90%;
    margin-top:5%;
    text-align:right;
    justify-content:center;
}


.webLeft{
    display:flex;
    flex-direction:column;
    background-color:none;
    width:100%;
    margin: 5% 1% 5% 1%;
    padding-left:7%;
    padding-right:8%;
}

.webRight{
    width:100%;
    background-color:none;
    display:flex;
    justify-content:left;
}

.webImageContainer{
    width:85%;
    height:45%;
    margin:auto;
}




/*********************************************************************/

#codeStaffTitle{
    margin-top:7%;
    margin-bottom:2%;
    vertical-align:middle;
    background:none;

}




#firstClock{
    width:73px;
    height:73px;

}

#secondClock{
    width:73px;
    height:73px;
}

#thirdClock{
    width:73px;
    height:73px;

}
#fourthClock{
    width:73px;
    height:73px;

}

.legend{
    font-size:8pt;
}





}
