<!DOCTYPE html>

<html lang="en">
    <head>
        
        
	<meta charset="UTF-8">
	<meta name="google-site-verification" content="cKFnSICH8LxBkyd_RCIEjo324I1HLMfZ7tg3Udf7SPE" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> <!--avoids unsecure connection warnings & enables JS scroll properities-->
        <meta name="description" content="Ulas Akarsu's coding and developing portfolio. Showcase of Ulas Akarsu's projects and skills in web development">
        <meta name="description" lang="tr" content="Ulaş Akarsu'nun kodlama ve web geliştirme portfolyosu. Ulaş Akarsu'nun web geliştirme projeleri ve kodlama çalışmaları.">
        <meta name="author" content="ulas akarsu">
        <meta name="robots" content="index, follow">

        <meta name="keywords" content="ulas, ulaş, akarsu, ulas akarsu, ulaş akarsu, akarsu ulas, ulas akarsu portfolio, webapp development, web site developer">
       
        
        <link rel="canonical" href="https://www.akarsuu.dev">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        
        
        
        <link href="https://fonts.googleapis.com/css2?family=Give+You+Glory&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        
       <link rel="icon" href="../static/images/favicon.ico" />
       

        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
        
        <!-- TIME ZONE INFO ---BOTH ARE REQUIRED -->
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/moment-timezone@0.5.31/builds/moment-timezone-with-data.min.js"></script>


        <!--CHANGING TEXT COLOR ON SCROLL-->
        
         <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        
        <!-- jquery to like-->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

        
        <!-- CSS-->
        <link rel="stylesheet" href="/static/stylesheet.css">

        <title>Akarsuu's PortFolio</title>
        <meta name="google-site-verification" content="cKFnSICH8LxBkyd_RCIEjo324I1HLMfZ7tg3Udf7SPE" />

    </head>
    
    <body>
    
        <div class="mainNavFrame shrink">
            
           
           
               
                <header class="header">
                    
                    <div class="logo">
                    </div>
                    
                    <div class="navigation">
                        
                        <input type="checkbox" class="toggle-menu" id="toggle">
                        <div class="hamburger">
                            
                        </div>
                        
                        <ul class="menu">
                            
                            <li><a id="secondlink" href="#webProjects">Web Projects</a></li>
                            
                            <div class="spacer"></div>
                            <li><a id="thirdlink" href="#anchor1">Coding Stuff</a></li>

                            <div class="spacer"></div>
                            <div id="contactCircle">
                                

                                <a id="sixthLink" href="mailto:ulasakarsu@gmail.com?subject=Email subject&body=Email body">Contact</a>
                            </div>
                        </ul>
                    </div>
                    
                    
                </header>

            
           
            
        </div>
       
        <div id="landing">
        
             
             
            <div id="landingContent">
                 
                
                <div id="firstLine">
                    <p id="port1"><h1>Hello I am akarsuu,</h1></p><br>
                    <p id="port2">I design and develop<br>websites, webapps<br>and code stuff.</p>
                   
                </div>
                
                
                
            </div>
           
           
        
        </div>
        
        
        <div id="webProjects">
            
                <div id="webProjectsTitle">
                       <h2>Web Projects</h2>
                   </div>
        
                    
                                        <div id="web6Container" class="webContainer">
                        
                                            <div id="web6Left" class="webLeft">
                        
                                                <div id="web6Title" class="webTitle">
                                                    <h4>
                                                    006 Ethnographic Gallery  
                                                    </h4>
                                                </div>
                                                
                                                <br>
                                                
                                                <div id="web5Desc" class="webDesc">
                                                    <h5>
                                                       A multipage website created for Tahtakuşlar Ethnographic Gallery. The landing page simple animations, text based CMS and everything else made using Framer. 
                                                        
                                                    </h5>
                                                </div>
                                
                                            </div>

                                            <div id="web6Right" class="webRight">
                                                <div id="web6ImageContainer" class="webImageContainer">
                                                    <a href="https://comprehensive-steps-302025.framer.app/en" target="_blank" id="kuslarLink">
                                                    
                                                        <img class="webImages" id="web4" src="/static/images/tahta_kuslar_ethnographic_gallery.png" loading="lazy"  alt="Tahtakuslar Gallery site Cover">
         
                                                    
                                                    </a>  
                                                </div>
                                            </div>


					</div>
				
					<div id="web5Container" class="webContainer">				

                                    <div id="web5Left" class="webLeft">
                        
                                        <div id="web5Title" class="webTitle">
                                            <h4>
                                            005 MagicLaila Cooking  
                                            </h4>
                                        </div>
                                        
                                        <br>
                                        
                                        <div id="web4Desc" class="webDesc">
                                            <h5>
                                                Dynamic website, Content Management System, CRUD, Admin Login and Interface, search in data base, Filtering Results, data base Sqlite SqlAlchemy.
                                                
                                            </h5>
                                        </div>
                        
                                    </div>
                                    
                                    
                                    <div id="web4Right" class="webRight">
                                        <div id="web5ImageContainer" class="webImageContainer">
                                            <a href="https://www.magiclaila.com" target="_blank" id="lailaLink">
                                            
                                                <img class="webImages" id="web4" src="/static/images/magicLaila.png" loading="lazy"  alt="Magic Lailai Coocking Site Cover">
 
                                            
                                            </a>  
                                        </div>
                                    </div>
                                    
                    </div>

                    
                    <div id="web4Container" class="webContainer">
                        
                        
                                    <div id="web4Left" class="webLeft">
                        
                                        <div id="web4Title" class="webTitle">
                                            <h4>
                                            004 Video Artist Portfolio
                                            </h4>
                                        </div>
                                        
                                        <br>
                                        
                                        <div id="web4Desc" class="webDesc">
                                            <h5>
                                                This is a video artist portfolio website. It is featuring video and photography works. A user friendly drop-down menu allows an easy navigation. The project did not require any backend.
                                            </h5>
                                        </div>
                        
                                    </div>
                                    
                                    
                                    <div id="web4Right" class="webRight">
                                        <div id="web4ImageContainer" class="webImageContainer">
                                            <a href="https://www.kayahacaloglu.art" target="_blank" id="kayaLink">
                                            
                                                <img class="webImages" id="web4" src="/static/images/kaya.png" loading="lazy"  alt="kaya_hacaloglu_web_site_landing_page_photo"> 
                                            
                                            </a>  
                                        </div>
                                    </div>
                                    
                    </div>
                    
                    <div id="web3Container" class="webContainer">
                        
                        
                                    <div id="web3Left" class="webLeft">
                        
                                        <div id="web3Title" class="webTitle">
                                            <h4>
                                            003 This very page
                                            </h4>
                                        </div>
                                        
                                        <br>
                                        
                                        <div id="web3Desc" class="webDesc">
                                            <h5>
                                                It is my portfolio page. Runs on Python Flask and has a mysql backend for the likeing app embedded at the end of the page. It has a few lines of JavaScript for the navbar animation. 
                                            </h5>
                                        </div>
                        
                                    </div>
                                    
                                    
                                    <div id="web3Right" class="webRight">
                                        <div id="web3ImageContainer" class="webImageContainer">
                                            <img class="webImages" id="web3" src="/static/images/akarsuu_developer.png" loading="lazy"  alt="this_page_landing_page_photo">  
                                        </div>
                                    </div>
                                    
                    </div>
               
                    <div id="web2Container" class="webContainer">
                        
                        
                                    <div id="web2Left" class="webLeft">
                        
                                        <div id="web2Title" class="webTitle">
                                            <h4>
                                            002 Shiatsu Practitioner 
                                            </h4>
                                        </div>
                                        
                                       <br>
                                        
                                        <div id="web2Desc" class="webDesc">
                                            <h5>
                                            Started with plain HTML and CSS, switched to React then started all over again with Next.js and restrated to finalize it with plain HTML and CSS with some JavaScript.
                                            </h5>
                                        </div>
                        
                                    </div>
                                    
                                    <div id="web2Right" class="webRight">
                                        
                                        <div id="web2ImageContainer" class="webImageContainer">
                                        
                                        <a href="https://www.wellbeing.akarsuu.com" target="_blank" alt="shiatsu_wellbeing_web_site_landing_page" id="shiatsuLink">
                                            
                                            <img class="webImages" id="web2" src="static/images/wellbeing.png" loading="lazy"  alt="shiatsu Cover Image">
                                            
                                        </a>
                                        
                                        </div>
                                    </div>
                                    
                    </div>            
                
    

                    
                    <div id="web1Container" class="webContainer">
                        
                        
                                    <div id="web1Left" class="webLeft">
                        
                                        <div id="web1Title" class="webTitle">
                                            <h4>
                                            001 Personal WebSite
                                            </h4>
                                        </div>
                                        
                                        <br>
                                        
                                        <div id="web1Desc" class="webDesc">
                                            <h5>
                                            This one uses a server-side SMTP via Flask. The client-side features such as link styling algorithms, hiding and showing the vertical scroll arrow are coded with JavaScript.
                                            </h5>
                                        </div>
                        
                                    </div>
                                    
                                    
                                    <div id="web1Right" class="webRight">
                                        <div id="web1ImageContainer" class="webImageContainer">
                                            
                                            <a href="https://www.akarsuu.com" target="_blank" id="akarsuuLink">
                                            
                                            <img class="webImages" id="web1" src="static/images/akarsuu_site.png" loading="lazy"  alt="personal_web_site_landing_page"> 
                                            
                                        </a>
                                            
                                            
                                            
                                             
                                        </div>
                                    </div>
                                    
                    </div>            
                
                    
                    
                    
                   
                    
                    
        </div>
            
               <br>
             <div id="anchor1"></div>
             
            <!---------------------------codingPartStart-->

                <div id="codeStaffTitle">
                       <h2>Coding Stuff</h2>
                   </div>
            
               <br><br>
               
               
               
               <div id="code1MainContainer">

                                    <div id="code1Left">
                        
                                        <div id="code1ImageContainer">
                                            
                                             <img id="code1" src="static/images/orchestre.jpg" loading="lazy"  alt="drum kit code with music conductor">
                                             
                                        
                                    
                                        <div id="keysContainer">
                                            
                                            <div id="firstKeys" class="keys">
                                                <div data-key="65" class="key" id="key1">
                                                    <kbd class="keyLetters">A</kbd>
                                                    <br>
                                                    <span class="sound">CLAP                </span>
                                                </div>
                                                
                                                <div data-key="83" class="key" id="key2">
                                                    <kbd class="keyLetters">S</kbd>
                                                    <br>
                                                    <span class="sound">HIHEAD                </span>
                                                </div>
                                                
                                                <div data-key="68" class="key" id="key3">
                                                    <kbd class="keyLetters">D</kbd>
                                                    <br>
                                                    <span class="sound">KICK                </span>
                                                </div>
                                                
                                                
                                                <div data-key="70" class="key" id="key4">
                                                    <kbd class="keyLetters">F</kbd>
                                                    <br>
                                                    <span class="sound">OPENHAT                </span>
                                                </div>
                                                
                                                
                                            </div>
                                            
                                            <br>
                                            
                                           
                                            
                                            <div id="secondKeys" class="keys">
                                                <div data-key="71" class="key" id="key5">
                                                    <kbd class="keyLetters">G</kbd>
                                                    <br>
                                                    <span class="sound">BOOM                </span>
                                                </div>

                                                 <div data-key="72" class="key" id="key6">
                                                    <kbd class="keyLetters">H</kbd>
                                                    <br>
                                                    <span class="sound">RIDE                </span>
                                                </div>
                                                
                                                 <div data-key="74" class="key" id="key7">
                                                    <kbd class="keyLetters">J</kbd>
                                                    <br>
                                                    <span class="sound">SNARE                </span>
                                                </div>
                                                
                                            </div>
                                            <br>
                                            
                                            
                                            <div id="thirdKeys" class="keys">
                                                <div data-key="75" class="key" id="key8">
                                                    <kbd class="keyLetters">K</kbd>
                                                    <br>
                                                    <span class="sound">TOM                </span>
                                                </div>
                                                
                                                 <div data-key="76" class="key" id="key9">
                                                    <kbd class="keyLetters">L</kbd>
                                                    <br>
                                                    <span class="sound">TINK                </span>
                                                </div>
                                                
                                    
                                                
                                            </div>
                                            
                                            
                                        </div>
                                           
                                                
                                               
                                                
  
                                        
                                        </div>
                        
                                    </div>
                                    <br>
                                    
                                    
                                    <div id="code1Right">
                                         <div id="code1Title">
                                            <h4>
                                            001 Drum Kit
                                            </h4>
                                        </div>
                                        
                                       <br>
                                        
                                        <div id="code1Desc">
                                            <h5>
                                            This is a simple drum kit for desktops. To enjoy, use your KEYBOARD and hit the relative keys (A, S, D, F, G, H, J, K and L) to trigger the audio samples. Stuff coded with Wes' guidance on his tutorial website.
                                            </h5>
                                        </div>
                                       
                                    </div>
                </div>
                    
                
                <div id="code2MainContainer">

                    <div id="code2Left">
    
                        <div id="code2ImageContainer">
                        
                            <div id="firstClockLine">
                                
                                <div id="leftTopContainer" class="clockContainers">
                                    <div id="firstClock" class="clocks">
                                        <div class="clockFace">
                                            <div class="hand hour-hand" id="handHour"></div>
                                            <div class="hand min-hand" id="handMinute"></div>
                                            <div class="hand second-hand" id="handSecond"></div>
                                            
                                        </div>
                                        
                                    </div>
                                    <div id="firstClockLegend" class="legend">PETERSBURG</div>
                                </div>
                                
                                <div></div>
                                
                                <div id="rightTopContainer" class="clockContainers">
                                    <div id="secondClock" class="clocks">
                                        <div class="clockFace">
                                            <div class="hand hour-hand2" id="handHour"></div>
                                            <div class="hand min-hand2" id="handMinute"></div>
                                            <div class="hand second-hand2" id="handSecond"></div>
                                            
                                        </div>
                                        
                                        
                                    </div>
                                    <div id="secondClockLegend" class="legend">BAMAKO</div>
                                </div>
                               
                            </div>
                            
                            
                            <div id="secondClockLine">
                                
                                <div id="leftBottomContainer" class="clockContainers">
                                    <div id="thirdClock" class="clocks"> 
                                        <div class="clockFace">
                                            <div class="hand hour-hand3" id="handHour"></div>
                                            <div class="hand min-hand3" id="handMinute"></div>
                                            <div class="hand second-hand3" id="handSecond"></div>
                                            
                                        </div>
                                    </div>
                                       
                                    <div id="thirdClockLegend" class="legend">HO CHI MINH</div>
                                </div>
                                
                                <div id="rightBottomContainer" class="clockContainers">
                                    <div id="fourthClock" class="clocks">
                                        <div class="clockFace">
                                            
                                            <div class="hand hour-hand4" id="handHour"></div>
                                            <div class="hand min-hand4" id="handMinute"></div>
                                            <div class="hand second-hand4" id="handSecond"></div>
                                            
                                        </div>
                                        
                                    </div>
                                    <div id="fourthClockLegend" class="legend">HAVANA</div>
                                </div>
                                
                                
                                
                            </div>
                             
                        </div>    
                        
                    </div>
    

                    <br>
                
                    <div id="code2Right">
                        <div id="code2Title">
                            <h4>
                            002 Time Set
                            </h4>
                        </div>
                        
                       <br>
                        
                        <div id="code2Desc">
                            <h5>
                            Coded with "moment" and "time-zone" JavaScript libraries. The formula is "(time unit / 60) * 360 degrees" for both seconds and minutes. For hours, the formula is set to 12.



</h5>
                        </div>
                       
                    </div>
            </div>
          
                <div id="code3MainContainer">

                                    <div id="code3Left">
                        
                                        <div id="code3ImageContainer">
                                    
                                            
                                                <div id="heart" class="heart">
                                                    
                                                </div>
                                                <div id="likeCount">
                                                    {{totalLike}} likes
                                                </div>
                                                
                                                <div id="message">
                                                    {{message}}
                                                </div>
                                                
                                                <button id="likeButton">
                                                    Like
                                                </button>
                                            
                                            

                                            
                                            
                                           
                                            
                                            
                                        </div>
                                           
                                    </div>
                            
                                    
                                    <div id="code3Right">
                                         <div id="code1Title">
                                            <h4>
                                            003 Anonymous Liking
                                            </h4>
                                        </div>
                                        
                                       <br>
                                        
                                        <div id="code3Desc">
                                            <h5>
                                            No authentification is needed. Just hit the "like" to increase the likes. However, you cannot like more than once unless you change your IP. Frontend: JavaScript; Backend: Python/Flask and SqlAlchemy.
                                            </h5>
                                        </div>
                                       
                                    </div>
                </div>
            
            
                
            
            
            <br><br>
            <br><br>            <br><br>            <br><br>               

                    
                    
        

                    

            
            
                    
            
            
     
        
        <br>
        <br>

        
       
       <audio data-key="65" loading="lazy"  src="../static/sounds/clap.wav"></audio>
       <audio data-key="83" loading="lazy"  src="../static/sounds/hihat.wav"></audio>
       <audio data-key="68" loading="lazy"  src="../static/sounds/kick.wav"></audio>
       <audio data-key="70" loading="lazy"  src="../static/sounds/openhat.wav"></audio>
       <audio data-key="71" loading="lazy"  src="../static/sounds/boom.wav"></audio>
       <audio data-key="72" loading="lazy"  src="../static/sounds/ride.wav"></audio>
       <audio data-key="74" loading="lazy"  src="/static/sounds/snare.wav"></audio>
       <audio data-key="75" loading="lazy"  src="../static/sounds/tom.wav"></audio>
       <audio data-key="76" loading="lazy"  src="../static/sounds/tink.wav"></audio>
       
       
<script>
     
    function playSound(e) {
        const audio = document.querySelector(`audio[data-key="${e.keyCode}"]`);
        const key =  document.querySelector(`.key[data-key="${e.keyCode}"]`);
        if(!audio) return; //stop the function
        
        
        audio.play();
        audio.currentTime = -3;
        key.classList.add("playing");
        
    }
    
    function removeTransition(e){
        if(e.propertyName !== "transform" && keydown === false) return; //skip if not a transform
        this.classList.remove("playing");
        
    }
    
    const keys = document.querySelectorAll('.key');
    keys.forEach(key => key.addEventListener('transitionend', removeTransition));
window.addEventListener('keydown', playSound);
</script>

        
<script>
    
    window.onscroll = function() {
  if (window.pageYOffset > 650) {
    document.querySelector(".mainNavFrame").classList.add("shrink");
  } else {
    document.querySelector(".mainNavFrame").classList.remove("shrink");
  }
};
    
</script>



<script>

    const secondHand = document.querySelector('.second-hand');
    const minHand = document.querySelector('.min-hand');
    const hourHand = document.querySelector('.hour-hand');
    
    function setDateFirstClock(){

        moment.tz.add("Europe/Saint_Petersburg|MSK MSK MSK|-c0 -c0 -c0|01020|1BWp0 1qM0 WM0 1qM0 WM0 1qM0 11A0 1o00 11A0 1o00 11A0 1o00 11A0 1qM0 WM0 1qM0 WM0 1qM0 11A0 1o00 11A0 1o00");
        const now = moment().tz('Europe/Moscow');
        
        const hour = now.hour();
        const minute = now.minute();
        const second = now.second();
        console.log(`The time in Petersburg is ${hour}:${minute}:${second}`);
        
        const secondsDegrees = ((second / 60)*360);
        secondHand.style.transform = `rotate(${secondsDegrees}deg)`;
        
        const minutesDegrees = ((minute / 60)*360) ;
        minHand.style.transform = `rotate(${minutesDegrees}deg)`;
        
        const hoursDegrees = ((hour / 12)*360);
        hourHand.style.transform = `rotate(${hoursDegrees}deg)`;
        
        
    }
    
    setInterval(setDateFirstClock, 1000); 

</script>

<script>            


    const secondHand2 = document.querySelector('.second-hand2');
    const minHand2 = document.querySelector('.min-hand2');
    const hourHand2 = document.querySelector('.hour-hand2');
    
    function setDateSecondClock(){

        moment.tz.add('Africa/Bamako|GMT GMT|0 -10|0101010101010101010101010101010101010101010101010|1LHA0 1zb0 Op0 1zb0 Op0 1zb0 Op0 1zb0 Op0 1zb0 Rd0 1zb0 Op0 1zb0 Op0 1zb0 Op0 1zb0 Op0 1zb0 Rd0 1zb0 Op0');
        const now = moment().tz('Africa/Bamako');
        const hour = now.hour();
        const minute = now.minute();
        const second = now.second();
        console.log(`The time in Bamako is ${hour}:${minute}:${second}`);
        
        const secondsDegrees = ((second / 60)*360);
        secondHand2.style.transform = `rotate(${secondsDegrees}deg)`;
        
        const minutesDegrees = ((minute / 60)*360) ;
        minHand2.style.transform = `rotate(${minutesDegrees}deg)`;
        
        const hoursDegrees = ((hour / 12)*360);
        hourHand2.style.transform = `rotate(${hoursDegrees}deg)`;
        
        
    }
    
    setInterval(setDateSecondClock, 1000); 
    
</script>

<script>

    const secondHand3 = document.querySelector('.second-hand3');
    const minHand3 = document.querySelector('.min-hand3');
    const hourHand3 = document.querySelector('.hour-hand3');
    
    function setDateThirdClock(){

        const now = moment().tz('Asia/Ho_Chi_Minh');
        const hour = now.hour();
        const minute = now.minute();
        const second = now.second();
        console.log(`The time in Ho Chi Minh is ${hour}:${minute}:${second}`);
        
        const secondsDegrees = ((second / 60)*360);
        secondHand3.style.transform = `rotate(${secondsDegrees}deg)`;
        
        const minutesDegrees = ((minute / 60)*360) ;
        minHand3.style.transform = `rotate(${minutesDegrees}deg)`;
        
        const hoursDegrees = ((hour / 12)*360);
        hourHand3.style.transform = `rotate(${hoursDegrees}deg)`;
        
        
    }
    
    setInterval(setDateThirdClock, 1000); 
    
</script>

<script>

    const secondHand4 = document.querySelector('.second-hand4');
    const minHand4 = document.querySelector('.min-hand4');
    const hourHand4 = document.querySelector('.hour-hand4');
    
    function setDateFourthClock(){
        moment.tz.add("America/Argentina/Rosario|ART ART ART|-3i.g -20 -3u -3i.g -20 -3u|01212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212");



        const now = moment().tz("America/Havana");

        const hour = now.hour();
        const minute = now.minute();
        const second = now.second();
        console.log(`The time in Rosario is ${hour}:${minute}:${second}`);
        
        const secondsDegrees = ((second / 60)*360);
        secondHand4.style.transform = `rotate(${secondsDegrees}deg)`;
        
        const minutesDegrees = ((minute / 60)*360) ;
        minHand4.style.transform = `rotate(${minutesDegrees}deg)`;
        
        const hoursDegrees = ((hour / 12)*360);
        hourHand4.style.transform = `rotate(${hoursDegrees}deg)`;
        
        
    }
    
    setInterval(setDateFourthClock, 1000); 
</script>

<script>
var likeButton = document.getElementById('likeButton');
var likeCount = document.getElementById('likeCount');
var message = document.getElementById('message');

likeButton.addEventListener('click', function() {
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/like');
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.onload = function() {
        if (xhr.status === 200) {
            console.log('Like added successfully!');
            var response = JSON.parse(xhr.responseText);
            likeCount.innerHTML = response.totalLike + " likes";
            message.innerHTML = response.message;
        } else {
            console.log('Failed to add like');
            message.innerHTML = "Your like is already added.";
        }
    };
    xhr.send(JSON.stringify({}));
});
</script>
   
  </body>
  
</html>