<!DOCTYPE html>

<html lang="en">
    <head>
        
        
	<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> <!--avoids unsecure connection warnings & enables JS scroll properities-->
        <meta name="description" lang="en" content="Explore the comprehensive range of web development services offered by Ulas Akarsu. Learn about web design, full stack development, SEO improvement, landing page creation, database integration, CMS with CRUD functionality, animations, JavaScript features, and site deployment.">
       
        <meta name="author" content="ulas akarsu">
        <meta name="robots" content="index, follow">
        <link rel="canonical" href="https://akarsuu.dev/information.html">
       
        
        
        
        <link href="https://fonts.googleapis.com/css2?family=Give+You+Glory&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>       

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
        
        <!-- TIME ZONE INFO ---BOTH ARE REQUIRED -->
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/moment-timezone@0.5.31/builds/moment-timezone-with-data.min.js"></script>


        <!--CHANGING TEXT COLOR ON SCROLL-->
        
         <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        
        <!-- jquery to like-->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

        
        <!-- CSS-->
        <link rel="stylesheet" href="../static/stylesheetinformation.css">
        <link rel="icon" href="../static/images/favicon.ico" />


        <title>Akarsuu's PortFolio</title>
        <meta name="google-site-verification" content="cKFnSICH8LxBkyd_RCIEjo324I1HLMfZ7tg3Udf7SPE" />

        
    </head>
    
    <body>
    
        <div class="mainNavFrame shrink">
            
           
           
               
                <header class="header">
                    
                    <div class="logo">
                    </div>
                    
                    <div class="navigation">
                        
                        <input type="checkbox" class="toggle-menu" id="toggle">
                        <div class="hamburger">
                            
                        </div>
                        
                        <ul class="menu">
                            
                            <li><a id="secondlink" href="https://akarsuu.dev/#webProjects">Web Projects</a></li>
                            
                            <div class="spacer"></div>
                            <li><a id="thirdlink" href="https://akarsuu.dev/#anchor1">Coding Stuff</a></li>

                            <div class="spacer"></div>
                            <div id="contactCircle">
                                

                                <a id="sixthLink" href="mailto:ulasakarsu@gmail.com?subject=Email subject&body=Email body">Contact</a>
                            </div>
                        </ul>
                    </div>
                    
                    
                </header>

            
           
            
        </div>
       
        <div id="main">

            <section class="section">

                <div id="informationTitle">
                    <h1>What information do I need to begin the development work?

                    </h1>
                </div>

                <p>To ensure the success of your project, I need comprehensive information that will help me understand your vision and goals. Providing the following details will facilitate a smooth and efficient development process:</p>
            
            </section>

            <section class="section">

                <div class="postContainer">
                    <div class="postTitle"><h2>1. Project Goals</h2></div>
                    <div class="postText"><p> To initiate the process, you can reach out to me through the contact link on my website. Provide your name and a brief description of your project. Be sure to include any specific requirements or goals you have in mind.
                        <ul>
                            <li><strong>Objective: </strong> Clearly define the primary objective of your project. Are you looking to create a brand-new website, redesign an existing one, or add specific functionalities? Understanding your goals helps me tailor the development process to meet your needs.</li>
                            <li><strong>Success Criteria: </strong> Describe what success looks like for your project. This could include metrics like increased traffic, improved user engagement, higher conversion rates, or any other key performance indicators.</li>

                        </ul>
                    </div>
                </div>


            </section>

            <section class="section">

                <div class="postContainer">
                    <div class="postTitle"><h2>2. Target Audience</h2></div>
                    <div class="postText"><p>After receiving your email submission, I will get back to you as soon as possible. During this stage:
                    

                    <ul>
                        <li><strong>Demographics: </strong> Provide information about your target audience, such as age, gender, location, and any other relevant demographic details.</li>
                        <li><strong>User Behavior: </strong> Explain the typical behavior of your audience, including their preferences, needs, and challenges. This helps in designing a user-friendly interface that meets their expectations.</li>
                           
                    </ul></p></div>
                </div>


            </section>

            <section class="section">

                <div class="postContainer">
                    <div class="postTitle"><h2>3. Design Preferences</h2></div>
                    <div class="postText"><p>
                   
                    <ul>
                        <li><strong>Aesthetic Preferences:</strong> Share your preferences regarding the visual style of the website. This can include color schemes, typography, and overall look and feel.</li>
                        <li><strong>Inspirations: </strong> If you have specific websites or designs that you admire, please provide links or references. This will give me a clearer idea of your vision.</li>
                        
                    </ul></p></div>
                </div>


            </section>

            <section class="section">

                <div class="postContainer">
                    <div class="postTitle"><h2>4. Existing Branding Materials</h2></div>
                    <div class="postText"><p>

                    <ul>
                        <li><strong>Brand Guidelines:  </strong> If your business or organisation has established brand guidelines, please share them. These guidelines often include details about logos, color palettes, fonts, and other branding elements.</li>
                        <li><strong>Logos and Graphics: </strong> Provide any existing logos, graphics, or images that you would like to be incorporated into the design.</li>
                    </ul></p></div>
                </div>


            </section>

            <section class="section">

                <div class="postContainer">
                    <div class="postTitle"><h2>5. Content
                    </h2></div>
                    <div class="postText"><p>


                    <ul>
                        <li><strong>Textual Content: </strong> Supply the text content for your website, including headings, paragraphs, and any other written material. This content should be well-organized and aligned with the structure of your website.</li>
                        <li><strong>Multimedia: </strong>If you have images, videos, or other multimedia elements that you want to include, please share them.</li>
                    </ul></p></div>
                </div>


            </section>

            <section class="section">

                <div class="postContainer">
                    <div class="postTitle"><h2>6. Specific Functionalities
                    </h2></div>
                    <div class="postText"><p>


                    <ul>
                        <li><strong>Features and Functionalities: </strong>  Outline any specific features or functionalities you need on your website. This could include contact forms, e-commerce capabilities, blogs, galleries, or any other custom features.</li>
                        <li><strong>Technical Requirements: </strong>Specify any technical requirements or preferences, such as the use of particular frameworks, languages, or platforms.</li>
                    </ul></p></div>
                </div>


            </section>

            
            <section class="section">

                <div class="postContainer">
                    <div class="postTitle"><h2>7. Competitor Analysis
                    </h2></div>
                    <div class="postText"><p>


                    <ul>
                        <li><strong>Competitor Websites:</strong>  Provide links to your competitors’ websites. This helps in understanding the industry standards and identifying opportunities for differentiation.</li>
                        <li><strong>Competitive Advantages:</strong>Highlight what sets your business apart from the competition. This information can be crucial in positioning your website uniquely in the market.</li>
                    </ul></p></div>
                </div>


            </section>

             
            <section class="section">

                <div class="postContainer">
                    <div class="postTitle"><h2>8. Timeline and Budget
                    </h2></div>
                    <div class="postText"><p>


                    <ul>
                        <li><strong>Project Timeline: </strong> Share your expected timeline for the project. If there are any specific deadlines or launch dates, please let me know.</li>
                        <li><strong>Budget: </strong> Provide a budget range for the project. This helps in planning the scope and scale of the development work accordingly.</li>
                    </ul></p></div>
                </div>


            </section>

            <section class="section">

                <div class="postContainer">
                    <div class="postTitle"><h2>9. Additional Information
                    </h2></div>
                    <div class="postText"><p>


                    <ul>
                        <li><strong>Questions and Concerns: </strong> Feel free to include any questions or concerns you might have about the project. Open communication ensures that we are on the same page and can address any potential issues early on.</li>
                    </ul></p></div>
                </div>


            </section>


            <section class="section">
                    <p>By gathering this information, I can create a tailored plan that aligns with your vision and ensures the successful execution of your project. If you have any questions or need assistance in providing these details, please don’t hesitate to contact me.</p>
                    <button id="buttonContact" class="readButton">CONTACT</button>
            </section>
        


               
            
        </div>
             
               <br>
             
                
            
            
            <br><br>
            <br><br>            <br><br>            <br><br>               

                    
            <br>
            <br>
                        
        

                    

            
            
            <div id="githubLogoPart">
                <div id="githubLogoContainer">
                    <a href="https://github.com/akarsuu/" target="_blank">
                        <img id="github" src="static/images/githubLogo.png">
                    </a>
                </div>
               
               
                <div id="heartLikeContainer">
                    
                            
                   
                       
                    <div id="likeCount">
                        {{totalLike}} likes
                    </div>
                    
                    <div id="message">
                        {{message}}
                    </div>
                    
                    <button id="likeButton">
                        Like
                    </button>
                </div>
                  
               
                
            </div>
                
               
            
            
     
        
        <br>
        <br>
        <br>
        <br>
            <!--Contact Button Bottom Of Page -->
        <script>

    document.getElementById('buttonContact').addEventListener('click', function() {
        window.location.href = 'mailto:ulasakarsu@gmail.com?subject=Email subject&body=Email body';
    });
</script>

</section>

        </script>

        <script>
    
            window.onscroll = function() {
          if (window.pageYOffset > 350) {
            document.querySelector(".mainNavFrame").classList.add("shrink");
          } else {
            document.querySelector(".mainNavFrame").classList.remove("shrink");
          }
        };
            
        </script>
        
        
        <script>
        var likeButton = document.getElementById('likeButton');
        var likeCount = document.getElementById('likeCount');
        var message = document.getElementById('message');
        
        likeButton.addEventListener('click', function() {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/like');
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onload = function() {
                if (xhr.status === 200) {
                    console.log('Like added successfully!');
                    var response = JSON.parse(xhr.responseText);
                    likeCount.innerHTML = response.totalLike + " likes";
                    message.innerHTML = response.message;
                } else {
                    console.log('Failed to add like');
                    message.innerHTML = "Your like is already added.";
                }
            };
            xhr.send(JSON.stringify({}));
        });
        </script>
        
  
     
  </body>
  
</html>
