<!DOCTYPE html>

<html lang="en">
    <head>
        
        
	<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> <!--avoids unsecure connection warnings & enables JS scroll properities-->
        <meta name="description" lang="en" content="Find answers to common questions about hiring Ulas Akarsu as your freelance web developer. Learn about the web development process, services, project management, communication, and more.">
       
        <meta name="author" content="ulas akarsu">
        <meta name="robots" content="index, follow">
        <link rel="canonical" href="https://akarsuu.dev/qa.html">
       
        
        
        
        <link href="https://fonts.googleapis.com/css2?family=Give+You+Glory&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>       

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
        
        <!-- TIME ZONE INFO ---BOTH ARE REQUIRED -->
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/moment-timezone@0.5.31/builds/moment-timezone-with-data.min.js"></script>


        <!--CHANGING TEXT COLOR ON SCROLL-->
        
         <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        
        <!-- jquery to like-->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

        
        <!-- CSS-->
        <link rel="stylesheet" href="../static/stylesheetqa.css">
        <link rel="icon" href="../static/images/favicon.ico" />


        <title>Akarsuu's PortFolio</title>
        <meta name="google-site-verification" content="cKFnSICH8LxBkyd_RCIEjo324I1HLMfZ7tg3Udf7SPE" />

        
    </head>
    
    <body>
    
        <div class="mainNavFrame shrink">
            
           
           
               
                <header class="header">
                    
                    <div class="logo">
                    </div>
                    
                    <div class="navigation">
                        
                        <input type="checkbox" class="toggle-menu" id="toggle">
                        <div class="hamburger">
                            
                        </div>
                        
                        <ul class="menu">
                            
                            <li><a id="secondlink" href="https://akarsuu.dev/#webProjects">Web Projects</a></li>
                            
                            <div class="spacer"></div>
                            <li><a id="thirdlink" href="https://akarsuu.dev/#codingStuff">Coding Stuff</a></li>

                            <div class="spacer"></div>
                            <div id="contactCircle">
                                

                                <a id="sixthLink" href="mailto:ulasakarsu@gmail.com?subject=Email subject&body=Email body">Contact</a>
                            </div>
                        </ul>
                    </div>
                    
                    
                </header>

            
           
            
        </div>
       
        <div id="landing">
        
             
             
            <div id="landingContent">
                 
                
                <div id="firstLine">
                    <h2 id="port1" class="typewriter">Hello I am Ulas Akarsu,</h2><br>
                    <h2 id="port2" class="typewriter">I design and develop<br>
                    <h2 id="port22" class="typewriter">websites, webapps<br>
                    <h2 id="port23" class="typewriter">and code stuff.</p>
                    <h3 id="port3" class="typewriter">Front-End HTML CSS JavaScript React</p><br>
                    <h3 id="port32" class="typewriter">Back-End Python Flask MySql SqlAlchemy</p><br>
                    <h3 id="port33" class="typewriter">DevOps Linux Ubuntu cPanel DigitalOcean</p>

                   
               </div>

               <div id="blogImageContainer">
                <img id="blogImage" src="/static/images/blogImage.png">
               </div>
                             
		  
            </div>
           
           
        
        </div>
        
        <div id="qaTitle">
            <h1>Q&As</h1>
        </div>

                <section class="section">

                    <div class="postContainer">
                        <div class="postTitle"><h2>What development services do I offer?</h2></div>
                        <div class="postText"><p> I offer a comprehensive range of development services, including web design and full stack web development, tracking and web SEO improvement, SEO health checking, landing page design and development, database integration, CMS with CRUD functionality, animating site components, adding JavaScript features, and site deployment. Each service is tailored to meet your specific needs and ensure the success of your project.</p></div>
                        <button id="buttonServices" class="readButton"href="https://akarsuu.dev/services">+ read</button>
                        
                    </div>


                </section>
       
                

                <section class="section">

                    <div class="postContainer">
                        <div class="postTitle"><h2>How to hire me and start a new development project?</h2></div>
                        <div class="postText"><p>You can hire me by contacting me through the contact form on my website. Simply fill out your details and provide a brief description of your project. I will get back to you promptly to discuss your requirements and how we can work together.</p></div>
                        <button id="buttonHire" class="readButton"href="https://akarsuu.dev/services">+ read</button>                    </div>


                </section>

                <section class="section">

                    <div class="postContainer">
                        <div class="postTitle"><h2>What information do I need to begin the development work?</h2></div>
                        <div class="postText"><p>I need details about your project goals, target audience, and any design preferences. Additionally, it helps to provide existing branding materials, content, and any specific functionalities you want on your website.</p></div>
                        <button id="buttonInformation" class="readButton">+ read</button>
                    </div>


                </section>

                <section class="section">

                    <div class="postContainer">
                        <div class="postTitle"><h2>How is the cost of a freelance development project determined?</h2></div>
                        <div class="postText"><p>The cost is determined based on the project's complexity, features, and timeline. After understanding your requirements, I provide a detailed quote that outlines all costs involved, ensuring transparency and no hidden fees.</p></div>
                        <button class="readButton">+ read</button>
                    </div>


                </section>
                
                <section class="section">

                    <div class="postContainer">
                        <div class="postTitle"><h2>What is the typical timeline for a freelance web development project?</h2></div>
                        <div class="postText"><p>Timelines vary depending on the project's scope and complexity, but most projects are completed within 4-8 weeks. A detailed timeline is provided at the start, including key milestones and deadlines.</p></div>
                        <button id="buttonTimeline" class="readButton">+ read</button>
                    </div>


                </section>

                <section class="section">

                    <div class="postContainer">
                        <div class="postTitle"><h2>Will you have regular updates on the development project's progress?</h2></div>
                        <div class="postText"><p>We typically have weekly check-ins to review progress and discuss any changes. However, the frequency can be adjusted based on your preference and the project's needs.</p></div>
                        <button id="buttonUpdates" class="readButton">+ read</button>
                    </div>


                </section>


                <section class="section">

                    <div class="postContainer">
                        <div class="postTitle"><h2>Can you request changes or revisions during the freelance development project?</h2></div>
                        <div class="postText"><p>Yes, you can request changes during the development process. We'll discuss the feasibility and impact of these changes to ensure they are smoothly integrated into the project. </p></div>
                        <button id="buttonRevisions" class="readButton">+ read</button>
                    </div>


                </section>


                
                <section class="section">

                    <div class="postContainer">
                        <div class="postTitle"><h2>Do I provide ongoing maintenance and support after the development project is completed?</h2></div>
                        <div class="postText"><p>Yes, I offer maintenance and support packages to keep your website running smoothly. This includes updates, security checks, and troubleshooting any issues that arise.</p></div>
                        <button id="buttonMaintenance" class="readButton">+ read</button>
                    </div>


                </section>

                <section class="section">

                    <div class="postContainer">
                        <div class="postTitle"><h2>Can you help with SEO optimization for my website?</h2></div>
                        <div class="postText"><p>Absolutely, I provide SEO services to enhance your website's performance. This helps attract more visitors and improve your search engine rankings. </p></div>
                        <button id="buttonSeo" class="readButton">+ read</button>
                    </div>


                </section>

                <section class="section">

                    <div class="postContainer">
                        <div class="postTitle"><h2>What web technologies and platforms do you specialize in as a freelance full stack developer?</h2></div>
                        <div class="postText"><p> I specialize in HTML, CSS, JavaScript, Python / Flask, and various other web development technologies depending of your hosting plan and web site structure.</p></div>
                        <button class="readButton">+ read</button>
                    </div>


                </section>


                <section class="section">

                    <div class="postContainer">
                        <div class="postTitle"><h2>Will my website be mobile-friendly and responsive after the web development?</h2></div>
                        <div class="postText"><p>  Yes, I ensure all websites are mobile-friendly and responsive. This means your site will look and function well on all devices, providing a great user experience.</p></div>
                        <button id="buttonResponsive" class="readButton">+ read</button>
                    </div>


                </section>

               
            
        
             
               <br>
             
                
            
            
            <br><br>
            <br><br>            <br><br>            <br><br>               

                    
            <br>
            <br>
                        
        

                    

            
            
            <div id="githubLogoPart">
                <div id="githubLogoContainer">
                    <a href="https://github.com/akarsuu/" target="_blank">
                        <img id="github" src="static/images/githubLogo.png">
                    </a>
                </div>
               
               
                <div id="heartLikeContainer">
                    
                            
                   
                        
                    
                    <div id="likeCount">
                        {{totalLike}} likes
                    </div>
                    
                    <div id="message">
                        {{message}}
                    </div>
                    
                    <button id="likeButton">
                        Like
                    </button>
                </div>
                  
                
                
            </div>
                
               
            
            
     
        
        <br>
        <br>
        <br>
        <br>

        <script>
    
            window.onscroll = function() {
          if (window.pageYOffset > 650) {
            document.querySelector(".mainNavFrame").classList.add("shrink");
          } else {
            document.querySelector(".mainNavFrame").classList.remove("shrink");
          }
        };
            
        </script>

        <!--section buttons-->
       <script>
            document.getElementById('buttonServices').addEventListener('click', function() {
                window.location.href = 'https://akarsuu.dev/services';
            });

            document.getElementById('buttonHire').addEventListener('click', function() {
                window.location.href = 'https://akarsuu.dev/hire';
            });
            document.getElementById('buttonInformation').addEventListener('click', function() {
                window.location.href = 'https://akarsuu.dev/information';
            });

            document.getElementById('buttonTimeline').addEventListener('click', function() {
                console.log('Button Timeline clicked');

                window.location.href = 'https://akarsuu.dev/timeline';
            });

            document.getElementById('buttonResponsive').addEventListener('click', function() {
                window.location.href = 'https://akarsuu.dev/responsive'
            })

            document.getElementById('buttonUpdates').addEventListener('click', function() {
                window.location.href = 'https://akarsuu.dev/updates'
            })

            document.getElementById('buttonRevisions').addEventListener('click', function() {
                window.location.href = 'https://akarsuu.dev/revisions'
            })

            
            document.getElementById('buttonMaintenance').addEventListener('click', function() {
                window.location.href = 'https://akarsuu.dev/maintenance'
            })

            document.getElementById('buttonSeo').addEventListener('click', function() {
                window.location.href = 'https://akarsuu.dev/seo'
            })









       </script>
        
        
        <script>
        var likeButton = document.getElementById('likeButton');
        var likeCount = document.getElementById('likeCount');
        var message = document.getElementById('message');
        
        likeButton.addEventListener('click', function() {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/like');
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onload = function() {
                if (xhr.status === 200) {
                    console.log('Like added successfully!');
                    var response = JSON.parse(xhr.responseText);
                    likeCount.innerHTML = response.totalLike + " likes";
                    message.innerHTML = response.message;
                } else {
                    console.log('Failed to add like');
                    message.innerHTML = "Your like is already added.";
                }
            };
            xhr.send(JSON.stringify({}));
        });
        </script>
        
  
     
  </body>
  
</html>
