<!DOCTYPE html>

<html lang="en">
    <head>
        
        
	<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> <!--avoids unsecure connection warnings & enables JS scroll properities-->
        <meta name="description" lang="en" content="Explore the comprehensive range of web development services offered by Ulas Akarsu. Learn about web design, full stack development, SEO improvement, landing page creation, database integration, CMS with CRUD functionality, animations, JavaScript features, and site deployment.">
       
        <meta name="author" content="ulas akarsu">
        <meta name="robots" content="index, follow">
        <link rel="canonical" href="https://akarsuu.dev/timeline.html">
       
        
        
        
        <link href="https://fonts.googleapis.com/css2?family=Give+You+Glory&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>       

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
        
        <!-- TIME ZONE INFO ---BOTH ARE REQUIRED -->
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/moment-timezone@0.5.31/builds/moment-timezone-with-data.min.js"></script>


        <!--CHANGING TEXT COLOR ON SCROLL-->
        
         <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        
        <!-- jquery to like-->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

        
        <!-- CSS-->
        <link rel="stylesheet" href="../static/stylesheettimeline.css">
        <link rel="icon" href="../static/images/favicon.ico" />


        <title>Akarsuu's PortFolio</title>
        <meta name="google-site-verification" content="cKFnSICH8LxBkyd_RCIEjo324I1HLMfZ7tg3Udf7SPE" />

        
    </head>
    
    <body>
    
        <div class="mainNavFrame shrink">
            
           
           
               
                <header class="header">
                    
                    <div class="logo">
                    </div>
                    
                    <div class="navigation">
                        
                        <input type="checkbox" class="toggle-menu" id="toggle">
                        <div class="hamburger">
                            
                        </div>
                        
                        <ul class="menu">
                            
                            <li><a id="secondlink" href="https://akarsuu.dev/#webProjects">Web Projects</a></li>
                            
                            <div class="spacer"></div>
                            <li><a id="thirdlink" href="https://akarsuu.dev/#anchor1">Coding Stuff</a></li>

                            <div class="spacer"></div>
                            <div id="contactCircle">
                                

                                <a id="sixthLink" href="mailto:ulasakarsu@gmail.com?subject=Email subject&body=Email body">Contact</a>
                            </div>
                        </ul>
                    </div>
                    
                    
                </header>

            
           
            
        </div>
       
        <div id="main">

            <section class="section">

                <div id="timelineTitle">
                    <h1>Timeline for freelance web development projects


                    </h1>
                </div>

            
            </section>

            <section class="section">

                <div class="postContainer">
                    <div class="postTitle"><h2>Static Website
                    </h2></div>
                    <div class="postText"><p> To initiate the process, you can reach out to me through the contact link on my website. Provide your name and a brief description of your project. Be sure to include any specific requirements or goals you have in mind.
                        <ul>
                            <li><strong>Duration: </strong> Approximately 2 weeks</li>
                            <li><strong>Overview: </strong> Develop simple, static web pages without complex functionalities.</li>
                            <li><strong>Breakdown: </strong></li>
                            <ul>
                                <li><strong>Planning and content gathering:</strong>1 week</li>
                                <li><strong>Development and testing</strong>1 week</li>
                            </ul>

                        </ul>
                    </div>
                </div>


            </section>

            <section class="section">

                <div class="postContainer">
                    <div class="postTitle"><h2>Landing Page</h2></div>
                    <div class="postText"><p>
                    

                    <ul>
                        <li><strong>Duration: </strong> Approximately 1 week</li>
                        <li><strong>Overview: </strong> Create a single page website focusing on key messaging and user engagement.</li>
                        <li><strong>Breakdown:</strong>
                        
                        <ul>
                            <li><strong>Planning and design</strong> 3-4 days</li>
                            <li><strong>Development and Deployument</strong> 3-4 days</li>    
                        </ul></li>
                           
                    </ul></p></div>
                </div>


            </section>

            <section class="section">

                <div class="postContainer">
                    <div class="postTitle"><h2>Dynamic Website</h2></div>
                    <div class="postText"><p>
                   
                    <ul>
                        <li><strong>Duration:</strong> Approximately 4 weeks</li>
                        <li><strong>Overview: </strong> Build a website with dynamic content and interactive features.</li>
                        <li><strong>Breakdown: </strong></li>

                        <ul>
                            <li><strong>Planning and architecture</strong>1 week</li>
                            <li><strong>Development and integration</strong>3 weeks</li>
                        </ul>

                        
                    </ul></p></div>
                </div>


            </section>

            <section class="section">

                <div class="postContainer">
                    <div class="postTitle"><h2>Web application</h2></div>
                    <div class="postText"><p>

                    <ul>
                        <li><strong>Duration:  </strong> Varies based on complexity</li>
                        <li><strong>Overview: </strong> Develop a robust application with advanced functionalities.</li>
                        <li><strong>Breakdown</strong></li>
                        <ul>
                            <li><strong>Discovery and planning</strong> 2-4 weeks</li>
                            <li><strong>Development and iteration</strong> Variable</li>
                        </ul>
                    </ul></p></div>
                </div>
            
            </section>


            <section class="section">
                    <p>

                    Feel free to contact me for any further information.</p>
                    <button id="buttonContact" class="readButton">CONTACT</button></div>
            </section>
        


               
            
        </div>
             
               <br>
             
                
            
            
            <br><br>
            <br><br>            <br><br>            <br><br>               

                    
            <br>
            <br>
                        
        

                    

            
            
            <div id="githubLogoPart">
                <div id="githubLogoContainer">
                    <a href="https://github.com/akarsuu/" target="_blank">
                        <img id="github" src="static/images/githubLogo.png">
                    </a>
                </div>
               
               
                <div id="heartLikeContainer">
                    
                            
                   
                       
                    <div id="likeCount">
                        {{totalLike}} likes
                    </div>
                    
                    <div id="message">
                        {{message}}
                    </div>
                    
                    <button id="likeButton">
                        Like
                    </button>
                </div>
                  
               
                
            </div>
                
               
            
            
     
        
        <br>
        <br>
        <br>
        <br>
            <!--Contact Button Bottom Of Page -->
        <script>

    document.getElementById('buttonContact').addEventListener('click', function() {
        window.location.href = 'mailto:ulasakarsu@gmail.com?subject=Email subject&body=Email body';
    });
</script>

</section>

        </script>

        <script>
    
            window.onscroll = function() {
          if (window.pageYOffset > 350) {
            document.querySelector(".mainNavFrame").classList.add("shrink");
          } else {
            document.querySelector(".mainNavFrame").classList.remove("shrink");
          }
        };
            
        </script>
        
        
        <script>
        var likeButton = document.getElementById('likeButton');
        var likeCount = document.getElementById('likeCount');
        var message = document.getElementById('message');
        
        likeButton.addEventListener('click', function() {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/like');
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onload = function() {
                if (xhr.status === 200) {
                    console.log('Like added successfully!');
                    var response = JSON.parse(xhr.responseText);
                    likeCount.innerHTML = response.totalLike + " likes";
                    message.innerHTML = response.message;
                } else {
                    console.log('Failed to add like');
                    message.innerHTML = "Your like is already added.";
                }
            };
            xhr.send(JSON.stringify({}));
        });
        </script>
        
  
     
  </body>
  
</html>
